article {
    width: 700px;
    margin: auto;
    align-content: center;
}
h1, h2 {
    font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
    margin-top: 55px;
    margin-bottom: 10px;;
    font-weight: 900;
    text-align: justify;
}
h1 {
    font-size:42px;
    color:rgba(0,0,0,0.84);
    text-align:left;
    line-height:44px;
}
h2 {
    font-size:34px;
    color:rgba(0,0,0,0.84);
    text-align:left;
    line-height:39px;
}
p {
    font-family:Georgia, Cambria, "Times New Roman", Times, serif;
    font-size:21px;
    color:rgba(0,0,0,0.84);
    text-align:left;
    line-height:33px;
    margin: 0;
}
img {
    margin-top: 43px;
    margin-bottom: 37px;
}
code {
    color: #2e2e2e;
    background: #f2f2f2;
    font-family: "Courier New", monospace;;
    font-weight: lighter;
}

nav {
    background: #fcf8f8;
    height: 72px;
    padding: 8px;
}

.logo{
    margin-top: 10px;
    margin-left: 38px;
    margin-bottom: 10px;
}
li {
    font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
    font-size:24px;
    color:#333333;
    text-align:left;
    line-height:36px;
    display: inline-block;
    margin-left: 30px;
}

ul {
    margin: 0;
}
a {
    text-decoration: none;
    color: #404040;
}

a.projects {
    text-decoration: underline;
}

a.blog {
    color: #D0081A;
}

@media (max-width: 800px) {
/* Тут пиши стили для мобилки.
    Стили применятся только когда страничка будет ≤800px шириной
 */
}